.container {
    background-image: url("../imagens/wall.png");
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

.menu {
    align-items: center;
    background-color: #000;
    border-bottom: 5px solid #ffd700;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    height: 90px;
    width: 100%;
}

.panel {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1rem;

}

.square {
    border: 1px solid black;
    background-color: #4beab5;
    height: 150px;
    width: 150px;
   
}

.enemy {
    background-image: url("../imagens/ralph.png");
    background-size: cover;
}

.menu-lives {
    align-items: center;
    display: flex;
    justify-content: center;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2) {
    margin-top: 1rem;
}